{% extends 'admin_base.html.twig' %}

{% block title %}Catégories de piéces{% endblock %}

{% block body %}
    {% include '/_includes/admin_panel/cards/list.html.twig' with {
        'name': "review",
        'listTitle': "Commentaires",
        'listElementsTitles': ['id', 'publicationDate', 'score', 'content', 'moderationAccepted'],
        'listElementsTitlesToDisplay': ['ID', 'Date de publication', 'Note sur 5', 'Contenu', 'Accepté par la modération'],
        'listArrey': reviews,
    }
    %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modifier les catégories</h4>
                <a  class="btn btn-primary btn-icon-text" href="{{ path('app_review_new') }}">
                    <i class="mdi mdi-database-plus btn-icon-prepend"></i>
                    En ajouter une
                </a>
            </div>
        </div>
    </div>
{% endblock %}
