<form method="post" action="{{ path('app_coin_delete', {'id': coin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coin.id) }}">
    <button class="btn">Delete</button>
</form>
